.hero{
  background-image: url('/src/resources/cool-rick-and-morty-2qy1xyshw0h9uxk4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  padding: 20px;
}

.title{
  text-align: center;
  color: #fff;
  padding: 20px;
}